<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="library" class="com.vkakarla.spring5.project3.Library">
         <property name="book" ref="book"></property>
    </bean>
 
    <bean id="book" class="com.vkakarla.spring5.project3.Book">
         <property name="title" value="Spring XML Configuration"></property>
         <property name="author" value="Vkakarla-Tutorials"></property>
         <property name="publications" value="Spring Publication"></property>
     </bean>
</beans>